on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: CI

permissions: {}

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        rust:
          - 1.85.1
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          components: clippy

      - name: Run Clippy
        run: rustup run ${{ matrix.rust }} cargo clippy --all --all-targets --all-features -- -D warnings

  fmt:
    name: Rustfmt
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        rust:
          - 1.85.1
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          components: rustfmt

      - name: Run Rustfmt
        run: rustup run ${{ matrix.rust }} cargo fmt --all -- --check

  semver-checks:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2

  docs:
    name: Documentation
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        rust:
          - 1.85.1
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}

      - name: Run rustdoc
        run: RUSTDOCFLAGS="-D warnings " rustup run ${{ matrix.rust }} cargo doc --workspace --no-deps --all-features

  test:
    name: Test
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        rust:
          - 1.85.1
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}

      - name: Run tests
        run: rustup run ${{ matrix.rust }} cargo test

  typeshare:
    name: Typeshare
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        rust:
          - 1.85.1
        lang:
          - typescript
          - kotlin
          - swift
        include:
          - fs: ts
            lang: typescript
          - fs: kt
            lang: kotlin
          - fs: swift
            lang: swift
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install typeshare CLI
        uses: actions-rs/install@v0.1
        with:
          crate: typeshare-cli
          version: "1.13.4"

      - name: Run typeshare CLI
        run: typeshare --lang=${{ matrix.lang }} . -o test.${{ matrix.fs }}
